<!doctype html>
<html>

<head>
    <meta charset="utf-8">
	<title>{{site.title}} - {{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="alternate" type="application/rss+xml" title="{{ site.slugs.feed.title }}" href="{{ site.slugs.feed.url }}" />

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

</head>

<body prefix="schema: http://schema.org/">
	<div class="navbar navbar-not-inverse navbar-static-top">
		<div class="container">
			<a class="navbar-brand" href="#" style="padding: 5px; margin: 0px"><!-- style="height:20px;padding-top:5px;" -->
				<img src="/img/logo.png" alt="{{site.title}}" style="height:52px;"/><!-- style="height:35px;" -->
			</a>
			<ul class="nav navbar-nav">
				<li{% if page.slug in [site.slugs.blog.slug] or page.url.startswith('/' + site.slugs.blog.slug) %} class="active"{% endif %}>
					<a href="{{ site.slugs.blog.url }}">{{ site.slugs.blog.title }}</a>
				</li>
				<li{% if page.slug in [site.slugs.timeline.slug] or page.url.startswith('/' + site.slugs.timeline.slug) %} class="active"{% endif %}>
					<a href="{{ site.slugs.timeline.url }}">{{ site.slugs.timeline.title }}</a>
				</li>
				<li{% if page.slug in [site.slugs.tutorials.slug] or page.url.startswith('/' + site.slugs.tutorials.slug) %} class="active"{% endif %}>
					<a href="{{ site.slugs.tutorials.url }}">{{ site.slugs.tutorials.title }}</a>
				</li>
				<li{% if page.slug in [site.slugs.contact.slug] or page.url.startswith('/' + site.slugs.contact.slug) %} class="active"{% endif %}>
					<a href="{{ site.slugs.contact.url }}">{{ site.slugs.contact.title }}</a>
				</li>
			</ul>
			<form class="navbar-form pull-right" method="get" id="search" action="http://duckduckgo.com/">
				<input type="hidden" name="sites" value="https://abbgra.de/"/>
				<input type="text" class="form-control"  maxlength="255" placeholder="Search" name="q" />
			</form>
		</div>
	</div>
	<div class="container">
		<h1 class="page-header">
			{{ page.title }} <br />
            <small>
                {% if page.datetime %}
                <span class="label label-default">
                    {{ page.datetime.strftime("%x") }}
                </span> &#160;
                {% endif %}
                {% for tag in page.tags %}
                <span class="label label-default">
                    {{ tag }}
                </span>
                {% endfor %}
            </small>
		</h1>

		{% block content %}
		{{ page.content }}
		{% endblock %}

		{% block comments %}
		<hr />
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					Comments
				</h3>
			</div>
            <div class="panel-body">
                {% for comment in page.subpages %}
                <div class="media">
                    <h4 class="media-heading">
                        {{comment.author}}
                        <span class="label">
                            {{ comment.datetime.strftime('%c') }}
                        </span>
                    </h4>
                    <div class="media-body">
                        <blockquote>
                            {{ comment.content }}
                        </blockquote>
                    </div>
                </div>
                {% endfor %}
                <div>
                    <a class="btn btn-primary" href="mailto:comment@abbgra.de?subject={{ page.category[0]|safe }}%2F{{ page.slug|safe }}">
                        Add Comment
                    </a>
                    <div class="help-block">
                        Please don't edit the subject!
                    </div>
                    <div class="alert alert-info">
                        The commenting system is based on e-mail.
                        On the next page generation, your comment will be added from the mailbox.
                        The email address wont be published!
                    </div>
                </div>
            </div>
		</div>
		{% endblock %}
		<div class="clearfix"> </div>
		<div class="text-center">
		    <hr />
			<p>
				<a href="{{ site.slugs.contact.url }}"> {{ site.slugs.contact.title }} </a>
				{% if page.datetime %} - {{ page.datetime.strftime("%d.%m.%Y") }}{% endif %} - <a href="{{ site.slugs.feed.url }}" > {{ site.slugs.feed.title }} </a>
				 <a href='https://alpha.app.net/abb' rel='me' style="display:none">APP.net</a>
			</p>
		</div>
	</div>

	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
          tex2jax: {
            inlineMath: [['$','$'], ['\\(','\\)'], ['$$','$$']],
            processEscapes: true
          }
      });
    </script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML.js"></script>

{% block javascript_plugin_block %}
	<script type="text/javascript">
	$(function() {

		// add links to timeline actions
	    $('.timeline_update').each(function(){
	    	var _this = this;
	    	actions = eval($(this).find('.timeline_actions_json').text());
	    	$.each(actions, function() {
	    		var label = this[0];
	    		var url = this[1];
	    		$(_this).find('.timeline_update_actions').append('<a class="btn btn-default btn-sm" href="' + url +'">' + label + '</a>');
	    	});
	    });

	    // look for anchors in headers
	    $(':header').each(function(){
	        if($(this).next().text().match(/\[(.+?)\]/) && $(this).next().text().length < 50 )
	        {
	            console.log("add anchor to header (brackets) " + $(this).next().text());
                $(this).append($(this).next().html().replace(/\[(.+?)\]/gi, '<span id="$1" />'));
                $(this).next().remove();
	        }

            // replace 'Introduction { #chap:introduction}' to 'Introduction <span id="chap:introduction" />'
	        if($(this).html().match(/.+? \{.(.+?)\}/))
	        {
	            console.log("add anchor to header (braces) " + $(this).text());
                $(this).html($(this).html().replace(/(.+?) \{.(.+?)\}/gi, '$1 <span id="$2" />'));
	        }
	    });

	    // look for anchors in paragraphs
	    $('p').each(function(){
	        var paragraph = this;

	        // replace '\label{foo}'
	        if($(this).html().match(/.+?\\label\{(.+)\}/))
	        {
	            console.log("add anchor to paragraph (braces) " + $(this).text());
                $(this).html($(this).html().replace(/\\label\{(.+?)\}(\n?)/gi, '<span id="$1" />'));
	        }

            $(this).html($(this).html().replace(/\s\\\s/gi, ' \\\\\n'));

	    });

	    // look for anchors in paragraphs
	    $('p').each(function(){
	        var paragraph = this;

	        $(new RegExp(/\[(.+?:.+?)\]/).exec($(paragraph).text())).each(function(){
	            var reference = this.replace(/\[(.+?)\]/, '$1');
                var title = $("*[id='"+reference+"']");

                if($.trim($(paragraph).text()).indexOf($.trim(this)) == 0)
                {
                    console.log("add anchor to paragraph (brackets): " + reference);
                    $(paragraph).html($(paragraph).html().replace('\['+reference+'\]', '<span id="'+reference+'" />'));
                }
	        });

	    });

	    $('p').each(function(){
	        var paragraph = this;
	        $(new RegExp(/\[(.+?:.+?)\]/).exec($(paragraph).text())).each(function(){
	            var reference = this;
                reference = reference.replace(/\[(.+?)\]/, '$1');
                var dest_reference = reference;

                var title = $("*[id='"+reference+"']");

                if(title.length == 0)
                {
                    dest_reference = reference.replace(new RegExp("~(.)~", "g"), '_$1');
                    title = $("*[id='"+dest_reference+"']");
                }

                if(title.length == 0)
                {
                    dest_reference = reference.replace(new RegExp("._(.)", "g"), '~$1~');
                    title = $("*[id='"+dest_reference+"']");
                }

                if(title.length > 0)
                {
                    var heading = $(title).first().parent();
                    var link_text = reference;

                    if($.trim(heading.text()).length > 0)
                    {
                        link_text = heading.text();
                    }

                    console.log("linking to " + link_text);
                    $(paragraph).html($(paragraph).text().replace('\['+reference+'\]', '<a href="#'+dest_reference+'">' + link_text + '</a>'));
                }
                else
                {
                    console.log("missing reference: " + dest_reference);
                }
	        });
	    });
	});
	</script>
{% endblock %}
</body>
