<!doctype html>
<html>

<head>
    <meta charset="utf-8">
	<title>{{site.title}} - {{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="alternate" type="application/rss+xml" title="{{ site.slugs.feed.title }}" href="{{ site.slugs.feed.url }}" />

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/pygments.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

</head>

<body prefix="schema: http://schema.org/">

    {% include 'widgets/site-navigation.html' %}

	<div class="container">
		<h1 class="page-header">
			{{ page.title }}
		</h1>

        <div>

            {% if page.datetime %}

                <span class="label label-default">
                    {{ page.datetime.strftime("%x") }}
                </span> &#160;

            {% endif %}
            {% for tag in page.tags %}

                <span class="label label-default">
                    {{ tag }}
                </span> &#160;

            {% endfor %}

        </div>

		{% block content %}
		    {{ page.content }}
		{% endblock %}

		{% block comments %}
            {% include 'widgets/page-comments.html' %}
		{% endblock %}

		<div class="clearfix"> </div>
		<div class="text-center">
		    <hr />
			<p>
				<a href="{{ site.slugs.contact.url }}"> {{ site.slugs.contact.title }}</a>
				{% if page.datetime %} - {{ page.datetime.strftime("%d.%m.%Y") }}{% endif %} - <a href="{{ site.slugs.feed.url }}" > {{ site.slugs.feed.title }} </a>
				 <a href='https://alpha.app.net/abb' rel='me' style="display:none">APP.net</a>
			</p>
		</div>
	</div>

	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

    {% block js_plugins %}
        <!-- No js-plugins for this page -->
    {% endblock %}

</body>
