{% extends "base.html" %}

{% block js_plugins %}
    {% include 'js-plugins/latex2markdown2html.html' %}
{% endblock %}

{% block content %}

    <div typeof="schema:BlogPosting">

        <span property="schema:name" content="{{ page.title}}"></span>
        <span property="schema:url" content="{{ page.url}}"></span>

        {% if page.author %}

            <span property="schema:creator" resource="/contact/{{ page.author }}.html"></span>

        {% endif %}


        <p class="lead">
            {{ page.summary }}
        </p>
    </div>

    {{ page.content }}
{% endblock %}