{% extends "base.html" %}

{% block sec_navigation  %}
{% endblock %}

{% block social_share %}   
{% endblock %}

{% block comments %}
{% endblock %}

{% block content %}
<div class="lead">
{{ page.content }}
</div>
<div class="row">
	<div class="span8">
		<ul class="thumbnails">
{% for tutorial in page.subpages %}
			<li class="span6">
				<div class="thumbnail">
					<div>
						{% for tag in tutorial.tags %}
							<span class="label">
								{{ tag }}
							</span>
						{% endfor %}
					</div>
					<h2>
						{{ tutorial.title }}
					</h2>
					<p>
						{{ tutorial.description }}
					</p>
					<div class="btn-group pull-right">
						<a class="btn btn-primary" href="{{tutorial.url}}">
							show tutorial
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</li>
{% endfor %}
		</ul>
	</div>

	<div class="span3">
		<h3>
			Tagsearch
		</h3>
		<div accordion" id="accordion_tags">
		{% for tag in site.tags|sort %}
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_tags" href="#tag_{{tag}}">
						{{ tag }}
						<span class="badge">{{ site.tags[tag]|length }}</span>
					</a>
				</div>
				<div class="accordion-body collapse" id="tag_{{ tag }}">
					<ul class="accordion-inner nav nav-list">
					{% for tutorial in site.tags[tag] %}
						<li><a href="{{ page.url_prefix }}{{tutorial.url}}">{{tutorial.title}}</a></li>
					{% endfor %}
					</ul>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
